{% extends 'base.html.twig' %}

{% block title %}Liste des servants{% endblock %}

{% block ContentHeader %}
<select name="selectServant" id="selectServant">
        <option value="">Selectionnez un servant</option>
    {% for servant in listeServant %}
        <option value="{{ servant.id }}">{{ servant.ServantName }}</option>
    {% endfor %}
</select>
{% endblock %}

{% block body %}
<table>
    <thead>
        {% for material in listeMaterial %}
                <th class="w-auto">
                    <img src="{{ material.MaterialIcon }}" alt="Image-Servant-{{ material.MaterialName }}" style="width: 100%;">
                </th>
        {% endfor %}
    </thead>
    <tbody>
        {% for servant in listeServant %}
            <tr class="hover:bg-green-400 bg-green-300 w-auto">
                {% for material in listeMaterial %}
                    {% for servantMat in servant.materialInfos %}
                        {% if material.id == servantMat.material.id %}
                        <td>
                            <p class="text-xs">{{ servantMat.quantity }}</p>
                        </td>
                        {% else %}
                        <td>
                            <p></p>
                        </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block JS %}
<script>
$(document).ready( function () {
    $('#table').DataTable();
} );
</script>
{% endblock %}