{% extends 'base.html.twig' %}

{% block title %}Liste des servants{% endblock %}

{% block body %}
    <div class="cards">
        {% for servant in servantArray %}
            {% if servant.Obtenus %}
            <div class="card obtained">
                <img src="{{ asset('img/ServantIcons/Icon_Servant_' ~ servant.Id ~ '.png') }}" alt="Icone_{{ servant.ServantName }}">
                <div class="card-container">
                    <h2><b>{{ servant.ServantName }}</b></h2>
                    <h3>{{ servant.Classe }}</h3>
                </div>
                <div class="card-footer">
                    <button servant-id="{{ servant.Id }}" class="btn-burn">Burn</button>
                </div>
            </div>
            {% else %}
            <div class="card">
                <img src="{{ asset('img/ServantIcons/Icon_Servant_' ~ servant.Id ~ '.png') }}" alt="Icone_{{ servant.ServantName }}">
                <div class="card-container">
                    <h2><b>{{ servant.ServantName }}</b></h2>
                    <h3>{{ servant.Classe }}</h3>
                </div>
                <div class="card-footer">
                    <button servant-id="{{ servant.Id }}" class="btn-ajout">Summon</button>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block JS %}
<script>
    $(document).ready(function(){
        $("button").click(function(){
            var parent = $(this).parent().parent();
            var button = $(this);
            var id = $(this).attr("servant-id");
            var url = '{{ path('ajout-rapide-servant', {'id': 0}) }}';
            var url = url.replace("0",id);
            var cardparent = $(this).parent().parent();
            $.ajax({
                url: url,
                type: 'post',
                success:function(data){
                    parent.toggleClass('obtained');
                    if(button.hasClass('btn-burn')){
                        button.removeClass('btn-burn');
                        button.addClass('btn-ajout');
                        button.text("Summon");
                    }else{
                        button.removeClass('btn-ajout');
                        button.addClass('btn-burn');
                        button.text("Burn");
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        });
    });    
</script>
{% endblock %}
