{% extends 'base.html.twig' %}

{% block title %}Liste des servants{% endblock %}

{% block body %}
    <div class="cards">
       {% for servant in listeServant %}
            {% if servant.obtenus %}    
            <div class="card">
                <img src="{{ servant.face }}" alt="Icone_{{ servant.servantName }}">
                <div class="card-container">
                    <h2><b>{{ servant.servantName }}</b></h2>
                    <h3>{{ servant.classe }}</h3>
                </div>
                <div class="card-footer">
                    <button servant-id="{{ servant.id }}" class="btn-burn">Burn</button>
                </div>
            </div>
            {% else %}
            <div class="card obtained">
                <img src="{{ servant.face }}" alt="Icone_{{ servant.servantName }}">
                <div class="card-container">
                    <h2><b>{{ servant.servantName }}</b></h2>
                    <h3>{{ servant.classe }}</h3>
                </div>
                <div class="card-footer">
                    <button servant-id="{{ servant.id }}" class="btn-ajout">Summon</button>
                </div>
            </div>
            {% endif %}
       {% endfor %}
    </div>
{% endblock %}

{% block JS %}
<script>
$(document).ready(function(){
    $("button").click(function(){
        let button = $(this);
        let servantId = $(this).attr("servant-id");
        let url = '{{ path('ajout-rapide-servant', {'id': 0}) }}';
        let path = url.replace("0", servantId);
        console.log(path);
        $.ajax({
            url: path,
            type: 'post',
            success:function(result){
                console.log('oui');
                button.parent().parent().toggleClass('obtained');
                if(button.hasClass('btn-ajout')){
                    button.removeClass('btn-ajout');
                    button.addClass('btn-burn');
                    button.text('Burn');
                }else{
                    button.removeClass('btn-brun');
                    button.addClass('btn-ajout');
                    button.text('Summon');
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    });
});
</script>
{% endblock %}
