<div>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire #}
    {{ form_errors(form) }}
    <div class="flex flex-col justify-center items-center bg-fgo-blue shadow-md mx-4 p-10 rounded">
        <div method="post" class="flex justify-center items-center flex-row space-x-2">
            <div class="flex flex-col">
                <div>
                    <p class="text-fgo-textblue font-bold text-lg">Servant à ajouter :</p>
                    {{ form_widget(form.servant, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none', 'placeholder': 'Servant'}}) }}
                </div>
                <div>
                    <p class="text-fgo-textblue font-bold text-lg">Niveau du Servant :</p>
                    {{ form_widget(form.niveauServant, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none'}}) }}
                </div>
            </div>
            <div class="flex flex-col">
                <div>
                    <p class="text-fgo-textblue font-bold text-lg">Niveau du Bond :</p>
                    {{ form_widget(form.niveauBond, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none'}}) }}
                </div>
                <div>
                    <p class="text-fgo-textblue font-bold text-lg">Niveau du NP :</p>
                    {{ form_widget(form.niveauNP, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none'}}) }}
                </div>
            </div>
        </div>
        <div class="flex flex-row space-x-2">
            <div>
                <p class="text-fgo-textblue font-bold text-lg">Niveau du Skill 1 :</p>
                {{ form_widget(form.niveauSkill1, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none'}}) }}
            </div>
            <div>
                <p class="text-fgo-textblue font-bold text-lg">Niveau du Skill 2 :</p>
                {{ form_widget(form.niveauSkill2, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none'}}) }}
            </div>
            <div>
                <p class="text-fgo-textblue font-bold text-lg">Niveau du Skill 3 :</p>
                 {{ form_widget(form.niveauSkill3, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none'}}) }}
            </div>
        </div>
        <div class="mb-5">
            {{ form_widget(form.ajouter, {'attr': {'class': 'bg-purple-600 hover:bg-purple-900 text-white font-bold p-2 rounded w-80'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>