<div>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire #}
    {{ form_errors(form) }}
    <div class="flex flex-col justify-center items-center bg-fgo-blue shadow-md mx-4 p-10 rounded">
        <div method="post" class="flex justify-center items-center flex-row space-x-2">
            <div class="flex flex-col">
                <div>
                    <p class="text-fgo-textblue font-bold text-lg">Pseudo :</p>
                    {{ form_widget(form.username, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none', 'placeholder': 'Servant'}}) }}
                </div>
                <div>
                    <p class="text-fgo-textblue font-bold text-lg">Niveau : </p>
                    {{ form_widget(form.playerLevel, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none'}}) }}
                </div>
            </div>
            <div class="flex flex-col">
                <div>
                    <p class="text-fgo-textblue font-bold text-lg">Version du jeu</p>
                    {{ form_widget(form.gameVersion, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none'}}) }}
                </div>
                <div>
                    <p class="text-fgo-textblue font-bold text-lg">Genre</p>
                    {{ form_widget(form.gender, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none'}}) }}
                </div>
            </div>
            <div class="flex flex-col">
                <div>
                    <p class="text-fgo-textblue font-bold text-lg">Nombre de quartz :</p>
                    {{ form_widget(form.quartz, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none'}}) }}
                </div>
                <div>
                    <p class="text-fgo-textblue font-bold text-lg">Nombre de Mana Prism :</p>
                    {{ form_widget(form.manaPrism, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none'}}) }}
                </div>
            </div>
        </div>
        <hr class="bg-green-500">
        <div class="flex flex-row space-x-2">
            <div>
                <p class="text-fgo-textblue font-bold text-lg">Nombre de Bronze Apple :</p>
                {{ form_widget(form.bronzeApple, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none'}}) }}
            </div>
            <div>
                <p class="text-fgo-textblue font-bold text-lg">Nombre de Silver Apple :</p>
                {{ form_widget(form.silverApple, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none'}}) }}
            </div>
            <div>
                <p class="text-fgo-textblue font-bold text-lg">Nombre de Gold Apple :</p>
                {{ form_widget(form.goldenApple, {'attr': {'class': 'form-control mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none'}}) }}
            </div>
        </div>
        <div class="mb-5">
            {{ form_widget(form.ajouter, {'attr': {'class': 'bg-purple-600 hover:bg-purple-900 text-white font-bold p-2 rounded w-80'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>