{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur{% endblock %}

{% block ContentHeader %}
    <p align="center">Mon Profil</p>
{% endblock %}

{% block body %}
<div class="container">
    <div class="flex flex-col">
        {% for user in infoUtilisateur %} 
        <div class="shadow-lg mt-3 bg-white rounded-lg" id="infoUser">
           <p style="font-weight: bold; vertical-align: middle; font-size: 40px">{{ user.username }}</p>
           <div class="flex flex-row">
                <img src="{{ asset('img/master-gender/' ~  user.gender  ~ '.png') }}" alt="image-guda" class="w-1/5 h-1/5">
                <div class="flex flex-col">
                    <div class="flex flex-row items-center pt-1">
                        <p style="font-weight: bold;">Niveau : {{ user.playerLevel }}/150</p>
                    </div>
                    <div class="flex flex-row items-center pt-1">
                        <p style="font-weight: bold;">Version : {{ user.gameVersion }}</p>
                    </div>
                    <div class="flex flex-row items-center pt-1">
                        <img src="{{ asset('img/icons/Saintquartz.png') }}" alt="image-quartz" style="width: 10%; heigth: 10%;">
                        <p style="font-weight: bold;"> : {{ user.quartz }}</p>
                    </div>
                    <div class="flex flex-row items-center pt-1">
                        <img src="{{ asset('img/icons/Mana_prism.png') }}" alt="image-mana-prism" style="width: 10%; heigth: 10%;">
                        <p style="font-weight: bold;"> : {{ user.manaPrism  }}</p>
                    </div>
                    <div class="flex flex-row items-center pt-1">
                        <img src="{{ asset('img/icons/Thumbnail-Bronze_Apple.png') }}" alt="image-bronze-apple" style="width: 10%; heigth: 10%;">
                        <p style="font-weight: bold;"> : {{ user.bronzeApple }}</p>
                    </div>
                    <div class="flex flex-row items-center pt-1">
                        <img src="{{ asset('img/icons/Thumbnail-Silver_Apple.png') }}" alt="image-bronze-apple" style="width: 10%; heigth: 10%;">
                        <p style="font-weight: bold;"> : {{ user.silverApple }}</p>
                    </div>
                    <div class="flex flex-row items-center pt-1">
                        <img src="{{ asset('img/icons/Thumbnail-Golden_Apple.png') }}" alt="image-bronze-apple" style="width: 10%; heigth: 10%;">
                        <p style="font-weight: bold;"> : {{ user.goldenApple }}</p>
                    </div>
                </div>
           </div>
        </div>
        <div class="shadow-lg mt-3 bg-white rounded-lg" id="statsUser">
            <p style="font-weight: bold; vertical-align: middle; font-size: 40px">Statistiques</p>
            <div class="flex flex-wrap mx-2">
                {% for chart in allCharts %}
                    <div class="my-3 px-3 w-1/4 overflow-hidden sm:my-4 sm:px-4 sm:w-1/2 md:my-3 md:px-3 md:w-1/2 lg:my-3 lg:px-3 lg:w-1/4 xl:my-3 xl:px-3 xl:w-1/4 bg-white shadow-lg pb-3">
                        {{ render_chart(chart, {'class': 'w-2 h-2'}) }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="shadow-lg mt-3 bg-white">oui</div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block ContentFooter %}
    <p align="center">Me contacter</p>
{% endblock %}