{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur{% endblock %}

{% block ContentHeader %}
    <p align="center">Mon Profil</p>
{% endblock %}

{% block body %}
{% for user in infoUtilisateur %} 
<div class="flex flex-col ">
    <div class="flex flex-row justify-center">
        <div class="bg-white flex-grow mx-4 my-4 flex flex-row justify-center items-center rounded-lg shadow-lg">
            <p style="font-weight: bold;" class="text-3xl">{{ user.playerLevel }}/150</p>
        </div>
        <div class="bg-white flex-grow mx-4 my-4 flex flex-row justify-center items-center rounded-lg shadow-lg">
            <img src="https://static.atlasacademy.io/JP/Items/6.png" alt="image-quartz" class="w-1/4">
            <p style="font-weight: bold;" class="text-3xl">{{ user.quartz }}</p>
        </div>
        <div class="bg-white flex-grow mx-4 my-4 flex flex-row justify-center items-center rounded-lg shadow-lg">
            <img src="https://static.atlasacademy.io/JP/Items/7.png" alt="image-mana-prism" class="w-1/4">
            <p style="font-weight: bold;" class="text-3xl">{{ user.manaPrism  }}</p>
        </div>
        <div class="bg-white flex-grow mx-4 my-4 flex flex-row justify-center items-center rounded-lg shadow-lg">
            <img src="https://static.atlasacademy.io/JP/Items/100.png" alt="image-bronze-apple" class="w-1/4">
            <p style="font-weight: bold;" class="text-3xl">{{ user.bronzeApple }}</p>
        </div>
        <div class="bg-white flex-grow mx-4 my-4 flex flex-row justify-center items-center rounded-lg shadow-lg">
            <img src="https://static.atlasacademy.io/JP/Items/101.png" alt="image-bronze-apple" class="w-1/4">
            <p style="font-weight: bold;" class="text-3xl">{{ user.silverApple }}</p>
        </div>
        <div class="bg-white flex-grow mx-4 my-4 flex flex-row justify-center items-center rounded-lg shadow-lg">
            <img src="https://static.atlasacademy.io/JP/Items/102.png" alt="image-bronze-apple" class="w-1/4">
            <p style="font-weight: bold;" class="text-3xl">{{ user.goldenApple }}</p>
        </div>
    </div>
    <div class="flex flex-row justify-center">
        <div class="bg-white flex-grow mx-4 rounded-lg shadow-lg">
            <table class="text-left w-full">
                <thead class="bg-black flex text-white w-full rounded-t-lg">
                    <tr class="flex w-full justify-center">
                        <th class="p-4">Servants Acquis</th>
                    </tr>
                </thead>
                <tbody class="bg-grey-light flex flex-col items-center justify-between overflow-y-scroll w-full" style="height: 50vh;">
                    {% for servant in listeServant %}
                        <tr>
                            <td>{{ servant.servant.ServantName }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="bg-white flex-grow rounded-lg shadow-lg">
            <div class="w-full flex flex-col justify-center items-center">
                <h1 class="text-xl font-extrabold mb-2">Historique d'invocation</h1>
                {{ render_chart(chartInvocation)}}
            </div>
        </div>
        <div class="bg-white flex-grow mx-4 rounded-lg shadow-lg">
            <table class="text-left w-full">
                <thead class="bg-black flex text-white w-full rounded-t-lg">
                    <tr class="flex w-full justify-center">
                        <th class="p-4">Craft Essences Acquis</th>
                    </tr>
                </thead>
                <tbody class="bg-grey-light flex flex-col items-center justify-between overflow-y-scroll w-full" style="height: 50vh;">
                    {% for craftEssence in listeCraftEssence %}
                        <tr>
                            <td>{{ craftEssence.craftEssence.CEName }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block ContentFooter %}
    <p align="center">Me contacter</p>
{% endblock %}