{% extends 'base.html.twig' %}

{% block title %}Liste des servants{% endblock %}

{% block ContentHeader %}
<div class="flex flex-col space-y-3">
    <p align="center" class="text-3xl font-bold text-fgo-textblue mb-2">Mes Servants</p>
    <div class="flex">    
        <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1 mx-4">
            <p>
                <input type="text" id="searchInput" placeholder="Rechercher un servant" class="py-1 px-1 text-fgo-textblue outline-none block h-full w-full bg-transparent underline">
            </p>
        </div>
    </div>
    <div class="flex flex-row space-x-2 justify-items items-center mx-4">    
        <button class="bg-transparent float-center hover:bg-pink-500 text-fgo-textblue font-semibold hover:text-white py-1 px-1 border border-pink-500 hover:border-transparent rounded" id="btnReset">Reinitialiser le tableau</button>
        <a href="{{ path('servantCollection') }}" class="bg-transparent float-center hover:bg-amber-500 text-fgo-textblue font-semibold hover:text-white py-1 px-1 border border-amber-500 hover:border-transparent rounded" id="btnAddServant">Mes Servants</a>
        <a href="{{ path('ajout-servant') }}" class="bg-transparent float-center hover:bg-green-500 text-fgo-textblue font-semibold hover:text-white py-1 px-1 border border-green-500 hover:border-transparent rounded" id="btnAddServant">Ajouter un Servant</a>
    </div>
</div>
    
{% endblock %}

{% block body %}
    {% set bondColor = ['','blue-700','lime-700','green-700','yellow-400','red-700','violet-700','cyan-700','teal-700','amber-500','cyan-200','cyan-200','cyan-200','cyan-200','cyan-200','cyan-200'] %}
    {% set npColor = ['','orange-800','amber-700','stone-300','yellow-400', 'amber-400'] %}
    <div class="flex flex-col mx-4">
        <div class="shadow-lg mt-3 bg-fgo-blue rounded-lg" id="infoUser">
            <div class="grid ">
                <table id="table" class="table">
                    <thead class="bg-fgo-header text-fgo-textblue w-full rounded-t-lg shadow-lg">
                        <tr>
                            <th class="text-center"></th>
                            <th class="hidden lg:text-center lg:block">Nom</th>
                            <th class="text-center">Niveau</th>
                            <th class="text-center">Skill 1</th>
                            <th class="text-center">Skill 2</th>
                            <th class="text-center">Skill 3</th>
                            <th class="text-center">Bond</th>
                            <th class="text-center">Niveau NP</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for servant in listeServantUser %}
                            {% if servant.niveauServant in range(1, 60)  %}
                                {% set color = 'orange-800' %}
                            {% elseif servant.niveauServant in range(61, 65)  %}
                                {% set color = 'amber-700' %}
                            {% elseif servant.niveauServant in range(66, 70)  %}
                                {% set color = 'stone-300' %}
                            {% elseif servant.niveauServant in range(71, 80)  %}
                                {% set color = 'yellow-400' %}
                            {% elseif servant.niveauServant in range(81, 100)  %}
                                {% set color = 'amber-400' %}
                            {% elseif servant.niveauServant in range(101, 120)  %}
                                {% set color = 'cyan-200' %}                    
                            {% endif %}

                            {% if servant.niveauSkill1  in range(1, 5)  %}
                                {% set colorSkill1 = 'orange-800' %}
                            {% elseif servant.niveauSkill1 in range(6, 9) %}
                                {% set colorSkill1 = 'stone-300' %}
                            {% elseif servant.niveauSkill1 == 10 %}
                                {% set colorSkill1 = 'cyan-200' %} 
                            {% endif %}

                            {% if servant.niveauSkill2  in range(1, 5)  %}
                                {% set colorSkill2 = 'orange-800' %}
                            {% elseif servant.niveauSkill2 in range(6, 9) %}
                                {% set colorSkill2 = 'stone-300' %}
                            {% elseif servant.niveauSkill2 == 10 %}
                                {% set colorSkill2 = 'cyan-200' %} 
                            {% endif %}

                            {% if servant.niveauSkill3  in range(1, 5)  %}
                                {% set colorSkill3 = 'orange-800' %}
                            {% elseif servant.niveauSkill3 in range(6, 9) %}
                                {% set colorSkill3 = 'stone-300' %}
                            {% elseif servant.niveauSkill3 == 10 %}
                                {% set colorSkill3 = 'cyan-200' %} 
                            {% endif %}
                            <tr class="hover:bg-violet-500">
                                <td style="text-align: center;">
                                        <img src="{{ servant.servant.face}}" alt="Image-Servant-{{ servant.servant.id }}" style="width: 20%;">
                                </td>
                                <td style="text-align: center;" class="hidden lg:table-cell">
                                    <div class="flex flex-row justify-center items-center" style="text-align: center;">
                                        <p class="hidden lg:flex lg:justify-center lg:items-center text-fgo-textblue lg:font-bold">{{ servant.servant.ServantName }}</p>
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                    <div class="flex flex-row justify-center items-center space-x-2" style="text-align: center;">
                                        <div class="border-{{ color }} text-{{ color }} border focus-within:border-fgo-textblue focus-within:bg-{{ color }} focus-within:text-white transition-all duration-500 relative rounded-lg py-1">    
                                            <select name="niveauServant" id="niveauServant" servant-id="{{ servant.servant.id }}" class="px-2 py-1 rounded-lg border-pink-500 bg-transparent">
                                                {% if servant.servant.rarity == 5  %}
                                                    {% for i in servant.niveauServant..90 %}
                                                        <option class="bg-{{ color }} text-center" value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                    {% for i in 90..120 %}
                                                        <option class="bg-{{ color }} text-center" value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                {% elseif servant.servant.rarity == 4 %}
                                                    {% for i in servant.niveauServant..80 %}
                                                        <option class="bg-{{ color }} text-center" value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                    {% for i in 80..120 %}
                                                        <option class="bg-{{ color }} text-center" value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                {% elseif servant.servant.rarity == 3 %}
                                                    {% for i in servant.niveauServant..70 %}
                                                        <option class="bg-{{ color }} text-center" value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                    {% for i in 70..120 %}
                                                        <option class="bg-{{ color }} text-center" value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                {% elseif servant.servant.rarity == 2 %}
                                                    {% for i in servant.niveauServant..65 %}
                                                        <option class="bg-{{ color }} text-center" value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                    {% for i in 65..120 %}
                                                        <option class="bg-{{ color }} text-center" value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                {% elseif servant.servant.rarity == 1 %}
                                                    {% for i in servant.niveauServant..60 %}
                                                        <option class="bg-{{ color }} text-center" value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                    {% for i in 60..120 %}
                                                        <option class="bg-{{ color }} text-center" value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                {% elseif servant.servant.rarity == 0 %}
                                                    {% for i in servant.niveauServant..65 %}
                                                        <option class="bg-{{ color }} text-center" value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                    {% for i in 65..120 %}
                                                        <option class="bg-{{ color }} text-center" value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                    <div class="flex flex-row justify-center items-center space-x-2" style="text-align: center;">
                                        <div class="border-{{ colorSkill1 }} text-{{ colorSkill1 }} border focus-within:border-fgo-textblue focus-within:bg-{{ colorSkill1 }} focus-within:text-white transition-all duration-500 relative rounded-lg py-1">    
                                            <select name="skill1" id="skill1" servant-id="{{ servant.servant.id }}" class="px-3 py-1 rounded-lg border-pink-500 bg-transparent">
                                                {% for i in servant.niveauSkill1..10 %}
                                                    <option class="bg-{{ colorSkill1 }} text-center" value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                <div class="flex flex-row justify-center items-center space-x-2">
                                        <div class="border-{{ colorSkill2 }} text-{{ colorSkill2 }} border focus-within:border-fgo-textblue focus-within:bg-{{ colorSkill2 }} focus-within:text-white transition-all duration-500 relative rounded-lg py-1">
                                            <select name="skill2" id="skill2" servant-id="{{ servant.servant.id }}" class="px-3 py-1 rounded-lg border-pink-500 bg-transparent">
                                                {% for i in servant.niveauSkill2..10 %}
                                                    <option class="bg-{{ colorSkill2 }} text-center" value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                <div class="flex flex-row justify-center items-center space-x-2">
                                        <div class="border-{{ colorSkill3 }} text-{{ colorSkill3 }} border focus-within:border-fgo-textblue focus-within:bg-{{ colorSkill3 }} focus-within:text-white transition-all duration-500 relative rounded-lg py-1">   
                                            <select name="skill3" id="skill3" servant-id="{{ servant.servant.id }}" class="px-3 py-1 rounded-lg border-pink-500 bg-transparent">
                                                {% for i in servant.niveauSkill3..10 %}
                                                    <option class="bg-{{ colorSkill3 }} text-center" value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                <div class="flex flex-row justify-center items-center space-x-2">
                                        <div class="border-{{ bondColor[servant.niveauBond] }} text-{{ bondColor[servant.niveauBond] }} border focus-within:border-fgo-textblue focus-within:bg-{{ bondColor[servant.niveauBond] }} focus-within:text-white transition-all duration-500 relative rounded-lg py-1">
                                            <select name="bond" id="bond" servant-id="{{ servant.servant.id }}" class="px-3 py-1 rounded-lg border-pink-500 bg-transparent">
                                                {% for i in servant.niveauBond..15 %}
                                                    <option class="bg-{{ bondColor[servant.niveauBond] }} text-center" value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                <div class="flex flex-row justify-center items-center space-x-2">
                                    <div class="border-{{ npColor[servant.niveauNP] }} text-{{ npColor[servant.niveauNP] }} border focus-within:border-fgo-textblue focus-within:bg-{{ npColor[servant.niveauNP] }} focus-within:text-white transition-all duration-500 relative rounded-lg py-1">
                                        <select name="nplevel" id="nplevel" servant-id="{{ servant.servant.id }}" class="px-3 py-1 rounded-lg border-pink-500 bg-transparent">
                                           {% for i in servant.niveauNP..5 %}
                                                    <option class="bg-{{ npColor[servant.niveauNP] }} text-center" value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block JS %}
<script>
$(document).ready(function(){
    $("select").change(function(){
        let servantId = $(this).attr('servant-id');
        let modName = $(this).attr('name');
        let modVal = $(this).val();
        let currentRow = $(this).closest('td');
        let colText = currentRow.find('.getText');
        let url = '{{ path('modificationRapideServant') }}';
        console.log(modName);
        console.log(modVal);
        $.ajax({
            url: url,
            data: { id: servantId, name:modName, value: modVal },
            type: 'post',
            success:function(result){
                colText.text(modVal+' - ');
                colText.animate({backgroundColor: '#00CD00'}, 'slow');
                colText.addClass('bg-green-500 rounded-lg');
                setTimeout(function(){
                    colText.removeClass('bg-green-500 rounded-lg');
                }, 1000);
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    });

    $('#searchInput').on("keyup", function(){
            //$('#table tbody tr').show();
            var value = $(this).val().toLowerCase();
            var regex = new RegExp(value, 'i');
            $('#table tbody tr').hide();
            $('#table tbody tr').filter(function(i, v){
                //$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                var $t = $(this).children(":eq("+ "1" +")");
                return regex.test($t.text());
            }).show();
        });
        //Problème 1 à régler : Si l'utilisateur choisis 1 (★), toutes les lignes qui contiennent au moins 1 (★) sont rétournés, il faudrait laisser seulement celles qui ont un seul 1 (★)
        //Problème 2 à régler : Le tableau ne se remet pas par défaut
        $('#selectRarity').change(function() {
            //$('#table tbody tr').show();
            var value = $(this).val().toLowerCase();
            var regex = new RegExp(value, 'i');
            $('#table tbody tr').hide();
            $('#table tbody tr').filter(function(i, v){
                //$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                var $t = $(this).children(":eq("+ "2" +")");
                return regex.test($t.text());
            }).show();
        });
        //Problème 1 à régler : Le tableau ne se remet pas par défaut
        $('#selectClasse').change(function() {
            //$('#table tbody tr').show();
            var value = $(this).val().toLowerCase();
            var regex = new RegExp(value, 'i');
            $('#table tbody tr').hide();
            $('#table tbody tr').filter(function(i, v){
                //$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                var $t = $(this).children(":eq("+ "3" +")");
                return regex.test($t.text());
            }).show();
        });
        //Problème 1 à régler : Le tableau ne se remet pas par défaut
        $('#selectNiveau').change(function() {
            //$('#table tbody tr').show();
            var value = $(this).val().toLowerCase();
            var regex = new RegExp(value, 'i');
            $('#table tbody tr').hide();
            $('#table tbody tr').filter(function(i, v){
                //$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                var $t = $(this).children(":eq("+ "4" +")");
                return regex.test($t.text());
            }).show();
        });
        //Problème 1 à régler : Le tableau ne se remet pas par défaut
        $('#selectBond').change(function() {
            //$('#table tbody tr').show();
            var value = $(this).val().toLowerCase();
            var regex = new RegExp(value, 'i');
            $('#table tbody tr').hide();
            $('#table tbody tr').filter(function(i, v){
                //$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                var $t = $(this).children(":eq("+ "6" +")");
                return regex.test($t.text());
            }).show();
        });
        //Problème 1 à régler : Le tableau ne se remet pas par défaut
        $('#selectNP').change(function() {
            //$('#table tbody tr').show();
            var value = $(this).val().toLowerCase();
            var regex = new RegExp(value, 'i');
            $('#table tbody tr').hide();
            $('#table tbody tr').filter(function(i, v){
                //$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                var $t = $(this).children(":eq("+ "7" +")");
                return regex.test($t.text());
            }).show();
        });

        $('#btnReset').click(function(){
            $('#table tbody tr').show();
        });
});
</script>
{% endblock %}
