{% extends 'base.html.twig' %}

{% block title %}Liste des servants{% endblock %}

{% block body %}
<div class="container">
    <div class="flex flex-col">
        <div class="shadow-lg mt-3 bg-white rounded-lg" id="infoUser">
            <div class="grid ">
                <table id="table" class="table">
                    <thead style="background-color: black; color: white;">
                        <tr>
                            <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Nom</th>
                            <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Niveau</th>
                            <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Skill 1</th>
                            <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Skill 2</th>
                            <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Skill 3</th>
                            <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Bond</th>
                            <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Niveau NP</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for servant in listeServantUser %}   
                            <tr class="hover:bg-gray-200">
                                <td style="text-align: center;">{{ servant.servant.ServantName }}</td>
                                <td style="text-align: center;">{{ servant.niveauServant }} - </td>
                                <td style="text-align: center;">{{ servant.niveauSkill1 }} -
                                    <select name="skill1" id="skill1" servant-id="{{ servant.servant.id }}">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <td style="text-align: center;">{{ servant.niveauSkill2 }} -
                                    <select name="skill2" id="skill2">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <td style="text-align: center;">{{ servant.niveauSkill3 }} - 
                                    <select name="skill3" id="skill3">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <td style="text-align: center;">{{ servant.niveauBond }} - 
                                    <select name="bond" id="bond">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                    </select>
                                </td>
                                <td style="text-align: center;">{{ servant.niveauNP }} - 
                                    <select name="nplevel" id="nplevel">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block JS %}
<script>
$(document).ready(function(){
    $("select").change(function(){
        let servantId = $(this).attr('servant-id');
        let modName = $(this).attr('name');
        let modVal = $(this).val();
        let url = '{{ path('modificationRapideServant', {'id': 0, 'modName': 1, 'value': 2}) }}';
        let url1 = url.replace('0', servantId);
        let url2 = url1.replace('1', modName);
        let url3 = url2.replace('2', modVal);
        $.ajax({
            url: url3,
            type: 'post',
            success:function(result){
                $(this).parent().text(modVal);
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    });
});
</script>
{% endblock %}
