{% extends 'base.html.twig' %}

{% block title %}Liste des servants{% endblock %}

{% block body %}
    <div class="flex flex-col mx-4">
        <div class="shadow-lg mt-3 bg-fgo-blue rounded-lg" id="infoUser">
            <div class="grid ">
                <table id="table" class="table">
                    <thead class="bg-fgo-header text-fgo-textblue w-full rounded-t-lg shadow-lg">
                        <tr>
                            <th class="text-center"></th>
                            <th class="hidden lg:text-center lg:block">Nom</th>
                            <th class="text-center">Niveau</th>
                            <th class="text-center">MLB</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for craftEssence in listeCraftEssenceUser %}
                            {% if craftEssence.niveauCE in range(1, 60)  %}
                                {% set color = 'orange-800' %}
                            {% elseif craftEssence.niveauCE in range(61, 65)  %}
                                {% set color = 'amber-700' %}
                            {% elseif craftEssence.niveauCE in range(66, 70)  %}
                                {% set color = 'stone-300' %}
                            {% elseif craftEssence.niveauCE in range(71, 80)  %}
                                {% set color = 'yellow-400' %}
                            {% elseif craftEssence.niveauCE in range(81, 100)  %}
                                {% set color = 'amber-400' %}               
                            {% endif %}     

                            {% if craftEssence.isMaxLimitBreak %}
                                {% set colorBool = 'bg-green-500' %}
                            {% else %}
                                {% set colorBool = 'bg-red-500' %}
                            {% endif %}
                            <tr class="hover:bg-violet-500">
                                <td style="text-align: center;">
                                    <img src="{{ craftEssence.craftEssence.ceIcon }}" alt="Image-craftEssence-{{ craftEssence.craftEssence.ceName }}" style="width: 20%;">
                                </td>
                                <td style="text-align: center;" class="hidden lg:table-cell">
                                    <p class="hidden lg:flex lg:justify-center lg:items-center text-fgo-textblue lg:font-bold">{{ craftEssence.craftEssence.CEName }}</p>
                                </td>
                                <td style="text-align: center;">
                                    <div class="flex flex-row justify-center items-center space-x-2">
                                        <div class="border-{{ color }} text-{{ color }} border focus-within:border-fgo-textblue focus-within:bg-{{ color }} focus-within:text-white transition-all duration-500 relative rounded-lg py-1">
                                            <select name="niveauCe" id="niveauCe" craftEssence-id="{{ craftEssence.craftEssence.id }}" class="px-3 py-1 rounded-lg border-pink-500 bg-transparent">
                                                {% for i in craftEssence.niveauCE..100 %}
                                                    <option class="bg-{{ color }} text-center" value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                    <div class="flex flex-row justify-center items-center space-x-2">
                                        <div class="border-{{ colorBool }} text-{{ colorBool }} border focus-within:border-fgo-textblue focus-within:bg-{{ colorBool }} focus-within:text-white transition-all duration-500 relative rounded-lg py-1">
                                            <select name="isMLB" id="isMLB" craftEssence-id="{{ craftEssence.craftEssence.id }}" class="px-3 py-1 rounded-lg border-pink-500 bg-transparent">
                                                {% if craftEssence.isMaxLimitBreak %}
                                                    <option class="bg-{{ colorBool }}" value="" selected disabled hidden>Oui</option>
                                                {% else %}
                                                    <option class="bg-{{ colorBool }}" value="" selected disabled hidden>Non</option>
                                                {% endif %}
                                                <option class="bg-{{ colorBool }}" value="false">Non</option>
                                                <option class="bg-{{ colorBool }}" value="true">Oui</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block JS %}
<script>
$(document).ready(function(){
    $("select").change(function(){
        let craftEssenceId = $(this).attr('craftEssence-id');
        let modName = $(this).attr('name');
        let modVal = $(this).val();
        let currentRow = $(this).closest('td');
        let colText = currentRow.find('.getText');
        let url = '{{ path('modificationRapideCE') }}';
        $.ajax({
            url: url,
            data: { id: craftEssenceId, name:modName, value: modVal },
            type: 'post',
            success:function(result){
                if(modVal == "true"){
                    colText.text('Oui - ');
                }else if(modVal == "false"){
                    colText.text('Non - ');
                }else{
                    colText.text(modVal+' - ');
                }
                colText.animate({backgroundColor: '#00CD00'}, 'slow');
                colText.addClass('bg-green-500 rounded-lg');
                setTimeout(function(){
                    colText.removeClass('bg-green-500 rounded-lg');
                }, 1000);
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    });
});
</script>
{% endblock %}
